html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: "Quicksand", sans-serif;
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow: auto;
}